.switch {
  position: relative;
  left: 93%;
  display: inline-block;
  font-size: 1em;
  height: 1em;
  width: 4em;
  background: $light-grey;
  border-radius: 1em;

  div {
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background: $white;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  input:checked+div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    background-color: $blue;
  }
}

.accordion-name {
  text-transform: uppercase;
}

.procedure-desc {
  font-size: 16px
}