.left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lighthouse-metric {
  .centered-score {
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
  }
  .url-selector {
    white-space: nowrap;
  }
}

.export-button {
  justify-content: space-between;
  display: flex;
}

.small-loader {
  width: 20px;
  height: 20px;
}

.move-to-right {
  margin-right: -40vw;
}

.right-justify {
  margin-left: 20vw;
}

.graph-accessibility-button {
  text-align: center;
  margin-bottom: 2vh;
}

.accessibility-array {
  display: flex;
  justify-content: center;
  margin: 2vh 0 2vh 0;
  text-align: center;

  table {
    border: solid 1px $light-grey;
    width: 50%;

    th,
    td {
      text-align: center;
      width: 50%;
    }
  }
}

.analysis-panel-content {
  ul,
  li {
    all: unset;
    width: 100%;

    .display-flex-row {
      display: flex;
      flex-direction: row;
    }
    .overview-panel-big-padded {
      display: flex;
      padding: 24px;
      text-align: center;
    }
  }
}

.title-margin-top {
  margin-top: 2vh
}
