.index-panel {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.ecoindex-panel {
  margin-right: 1vw;
  .disclaimer {
    padding-top: 2vh;
    text-align: justify;
    font-size: $small-font;
  }
}
.ecoindex-title {
  text-transform: uppercase;
  font-weight: $medium-weight;
  font-size: $small-font;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
}
.last-analysis-date {
  font-size: $small-font;
}
.ecoindex-panel-content {
  background: $white;
  border: 1px solid $light-grey;
}
.ecoindex-badge {
  padding: 16px;
  color: $white;
  box-sizing: border-box;
  height: 100%;
  p {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }
  .score {
    font-size: $xlarge-font;
    font-weight: $medium-small-weight;
  }
}

.ecoindex-badge-title {
  color: $white;
  margin-bottom: 16px;
  font-size: $xxlarge-font;
}
