.procedure-priorization {
  background-color: $white;
  border-radius: 10px;
  padding: 2.25vh 3.75vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.button-procedure{
  border: 0ch;
  background-color: $white;
}
.procedure-title {
  display: flex;
  flex-direction: row;
  font-size: $xxlarge-font;

  .first-part {
    margin-right: 0.5vw;
  }

  .procedure {
    color: $light-blue;
    margin-right: 0.5vw;
  }
}