.margin-button {
  margin-right: 1.5vw;
}

.group-btns {
  display: flex;
  flex-wrap: wrap;
}

.best-practices {
  .block {
    background-color: $light-grey;
    padding: 14vh 2vw 7vh 7vw;
  }
  .accordions {
    background-color: $white;
    margin-bottom: 0%;
    padding-left: 6vw;
    padding-top: 3vh;
    .title {
      padding-top: 4vh;
    }
    button {
      height: 100px;
      margin-bottom: 1vh;
    }
    .accordion {
      background-color: $light-grey;
    }
    .icon {
      width: 5vw;
      height: auto;
    }
  }
  .tab {
    background-color: $light-grey;
    .tabs {
      display: inline-flex;
      .tab-btn {
        height: auto;
        width: auto;
        color: $black;
        border: 0ch;
        background-color: $light-grey;
        padding: 2vh;
        border-radius: 10px 10px 0 0;
        margin-bottom: 0;
      }
      .tab-btn:hover {
        color: $green;
        text-decoration: underline;
        background-color: $white;
        cursor: pointer;
      }
      .tab-btn-selected {
        height: auto;
        width: auto;
        border: 0ch;
        padding: 2vh;
        color: $green;
        font-weight: $bold;
        text-decoration: underline;
        background-color: $white;
        border-radius: 10px 10px 0 0;
        margin-bottom: 0;
      }
    }
  }
}

.color-title-acc-opened {
  color: $green;
}

.margin-content {
  .color {
    color: $black;
  }
}

.correction-text {
  a {
    color: $green;
  }
  a:hover {
    color: $green;
    text-decoration: underline;
  }
}

@media screen and (max-width: 700px) {
  .content-best-practice {
    max-width: 80vw;
    .title {
      padding-bottom: 2vh;
    }
  }
  .tab {
    overflow: scroll;
  }
  .img-flower-white-1 {
    width: 75%;
    margin-top: 5vh;
  }
  .block {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 700px) {
  .content-best-practice {
    max-width: 45vw;
  }
  .img-flower-white-1 {
    width: 25vw;
  }
}
