.howitworks-content {
  background-color: $light-grey;
  padding: 3vh 4vw;
}

.diagram {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.size-diagram {
  margin-left: auto;
  margin-right: auto;
}

.accordion-text {
  max-width: 80vw;
}

.audits {
  background-color: $light-grey;
}

.audits-content {
  padding: 3vh 7vw;
}

.cards-good-practices {
  margin-top: 1vh;
  background-color: $white;
  color: $green;
  border-radius: 10px;
  padding: 2vh 1vw;
  justify-content: space-between;
  width: 20vw;
  min-width: 200px;
  .icon {
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
}

.text-good-practices-card {
  text-align: center;
}

.box-number {
  color: $white;
  background: $green;
  border-radius: 50em;
  width: 1.6em;
  height: 1.6em;
  font-size: $xx-large-font;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.accordion-button {
  height: 10vh;
}

.strenghs {
  color: $dark-green;
}

.sonarqube-logo {
  width: 30vw;
}

.plus-sign {
  margin: 0.5vh 0.5vw;
}

.white-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.86vh 0.6vw;
  justify-content: space-around;
  width: 41vw;
  p {
    font-size: $medium-font;
    text-align: center;
  }
  .green {
    color: $green;
  }
  h2 {
    font-size: $xx-large-font;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
  .center-children {
    width: 100%;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }
}

.ecosonar-logo {
  width: 20vw;
  margin-top: 5vh;
}

.basic-content {
  font-size: 3em;
  margin-top: 0;
  font-weight: 200;
}

.addition-result {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .diagram {
    max-width: 80vw;
  }
  .additional-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .center-children {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .calcul-tools {
    width: 10vw;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .white-card {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .cards-good-practices {
    width: 20vw;
  }
  .text-good-practices-card {
    max-width: 20vw;
  }
  .additional-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .center-children {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1vh 1vw;
  }
  .calcul-tools {
    width: 100%;
    min-width: 100px;
  }
}

.center-children-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tools-title {
  padding: 3vh 0 0 7vw;
  margin: 0;
}
