.navbar {
    border: 0.1vh solid transparent;
    background-color: $white;
    margin-bottom: 0;
    position: relative;
    min-height: 50px;
}

.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
}

.navbar-nav {
    margin: 7.5px -15px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar:before {
    display: table;
    content: " ";
}

.navbar:after {
    display: table;
    content: " ";
    clear: both;
}

.nav>li {
    margin-left: 2em;
}

.active-tab {
    color: $green;
    font-weight: $bold;
    text-decoration: underline;
}

.navigation {
    color: $black
}

.navigation:hover {
    color: $green;
    text-decoration: underline;
}

.margin-right {
    margin-right: 1vw;
}

@media screen and (max-width: 700px) {
    .row {
        display: flex;
        flex-wrap: wrap;

        .column {
            display: flex;
            flex: 100% 1;
            justify-content: center;
            margin-left: 0;
            max-width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }

    .navbar-header {
        margin-right: 0;
        margin-left: 0;
        float: left;
    }

    .navbar-brand {
        margin-left: -15px;
    }

    .navbar-right {
        float: right;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}