.team-logo {
    margin: auto;
    width: 22vw;
}

.row-contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.space-between {
    justify-content: space-between;
}

.name-team {
    margin: 0;
}

.justify-left {
    margin-left: 0.2vw;
}

.content-contact-us {
    max-width: 45vw;
}

@media screen and (max-width: 1200px) {
    .content-contact-us {
        max-width: 80vw;
    }
    .row-contact-us {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .team-logo {
       padding-top: 5vh;
        width: 60vw;
    }
}
